*.js
!jest.config.js
*.d.ts
node_modules

!public/*.js

# CDK asset staging directory
.cdk.staging
cdk.out

.env
swagger.json

*.safetensors
*.model
*.tar.gz
*.jinja
sagemaker/**/model/*.json

__pycache__

# CodeCarbon emissions tracking
emissions.csv